<h1>ユーザーマイページ</h1>
<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <ul>
      <li><%= review.title %></li>
      <li><%= link_to '編集', edit_hackathon_review_path(review.hackathon_id, review.id), class: 'btn btn-success' %></li>
      <li><%= link_to '削除', review_path(review.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %></li>
    </ul>
  <% end %>
<% end %>

<%= link_to 'プロフィールの編集', edit_user_registration_path, class: 'nav-item nav-link' %>
